.header {
    padding: 15px; 
    color: #ffffff;
    background-color: #0a7706;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #020202;

}

.data-area {
    margin: 0 auto;
    width: 90%;
  }

  .name-cell {
    text-transform: capitalize;
}

  tr {
    background-color: beige;
  }
